body, html {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

#left, #right {
	margin: 20px;
}

#left {
	float: left;
}

#left p {
	font-family: sans-serif;
}

#right {
	float: right;
}

#right p {
	font-family: cursive;
}

img {
	border-radius: 4px;
	width: 50px;
	height: 50px;
	margin: 20px;
}

#wisteria {
	display: flex;
	vertical-align: middle;
	position: relative;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	height: 220px;
	clear: both;
	background-image: url('wisteria.jpg');
	background-position: center;
	background-size: cover;
}

#wisteria h1 {
	color: #444;
	width: fit-content;
	padding: 5px;
	border-radius: 4px;
	margin: auto;
	font-family: sans-serif;
	border: 2px #444 dotted;
	mix-blend-mode: difference;
}